{% extends 'base.html' %}
{% block title %}
    Карта
{% endblock %}

{% block content %}
    <div class="container-map">
        <div id="map">
            <div class="center-screen" id="placeholder">Map loading...</div>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script src="https://api-maps.yandex.ru/2.1/?apikey=73e94ef0-6879-434b-ab8e-24acef4da2a3&lang=ru_RU" type="text/javascript">
    </script>
    <script type="text/javascript">
        let users = {{ map_info|safe if map_info else 'null'}};
    </script>
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>
{% endblock %}